@{
    <link href="~/Content/MealPlanner/Register.css" rel="stylesheet" type="text/css" />
}
    <body>
        <!-- START Site Preloader -->
        <div id="theme-preloader-container">
            <div class="theme-preloader">
                <span class="circle-01"></span>
                <span class="circle-02"></span>
                <span class="circle-03"></span>
            </div>
        </div>
        <!-- END Site Preloader -->
        <h2 class="title registerTop">Register Today</h2>
        <div class="subtitle registerTop">You'll be able to add recipes and meal plans to your account</div>

        <div class="row" id="register">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { id = "registerForm" }))
                {
                    <div class="form-group">
                        @Html.Label("First Name")
                        @Html.TextBox("FirstName", "", new { @class = "form-control", placeholder = "First Name" })
                        @Html.ValidationMessage("FirstName", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Last Name")
                        @Html.TextBox("LastName", "", new { @class = "form-control", placeholder = "Last Name" })
                        @Html.ValidationMessage("LastName", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Email Address")
                        @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessage("Email", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Username")
                        @Html.TextBox("Username", "", new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessage("Username", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Password")
                        @Html.Password("Password", "", new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessage("Password", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirm Password")
                        @Html.Password("ConfirmPassword", "", new { @class = "form-control", placeholder = "Re-type Password" })
                        @Html.ValidationMessage("ConfirmPassword", new { @class = "error" })
                    </div>
                    <button type="submit" class="btn btn-default register">Register</button>
                    <div>
                        @Html.ValidationMessage("invalid-user", new { @class = "error" })
                    </div>
                }
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!-- Theme Base, Components and Settings -->
        <script src="~/Scripts/theme.js"></script>

        <!-- Theme Custom -->
        <script src="~/Scripts/custom.js"></script>
    </body>